<app-header></app-header>
<div class="ui container" style="margin-top: 1%">
<h3 class="ui dividing header">Recently viewed</h3>

<div class="ui six doubling cards">
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/helen.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="" src="https://semantic-ui.com/images/avatar/large/steve.jpg">
    </div>
  </div>
</div>

</div>

<div class="ui container" style="margin-top: 1%">
<h3 class="ui dividing header">Friends</h3>

<div class="ui four column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
      </div>
      <div class="content">
        <a class="header">Elliot Fu</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
      </div>
      <div class="content">
        <a class="header">Helen Troy</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
