<app-header></app-header>
<div class="ui container" style="margin-top: 1%">

<div class="ui container" style="margin-top: 1%">
<h3 class="ui dividing header">Friends</h3>

<div class="ui four column grid">
  <div class="column" *ngFor="let friend of friends">
    <div class="ui fluid card">
      <div class="image">
        <img src="{{friend.avatar}}" [routerLink]="['/second-profile']">
      </div>
      <div class="content">
        <a class="header">{{friend.firstName}} {{friend.lastName}}</a>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button">Chat</div>
          <div class="ui basic red button" (click)="deleteFriend(friend)">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
