<form class="ui form">
  <h3 class="ui header">Filters</h3>
  <div class="field">
    <label>Name</label>
    <div>
      <input type="text" name="shipping[address]" placeholder="Name">
    </div>
  </div>
  <div class="field">
    <label>Last Name</label>
    <div>
      <input type="text" name="shipping[address]" placeholder="Last Name">
    </div>
  </div>
  <div class="field">
    <label>Location</label>
    <div>
      <input type="text" name="shipping[address]" placeholder="Street Address">
    </div>
  </div>
  <div class="field">
    <label>Sex</label>
    <div class="inline fields">
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="male">
          <label>Male</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="female">
          <label>Female</label>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Age</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="shipping[first-name]" placeholder="From">
      </div>
      <div class="field">
        <input type="text" name="shipping[last-name]" placeholder="To">
      </div>
    </div>
  </div>

  <div class="field">
    <label>Only friend</label>
    <div class="inline fields">
      <div class="ui checkbox">
        <input type="checkbox" name="friend">
        <label>Yes</label>
      </div>
    </div>
  </div>
</form>
