<app-header></app-header>
<div class="ui container" style="margin-top: 1%">
  <div class="ui card grid-card" style="margin: auto">
    <div class="image">
      <img src="https://pp.userapi.com/c626325/v626325794/1e3e6/sItGU2UGOKU.jpg">
    </div>
    <div class="content">
      <div class="header">Alexey Safronov</div>
      <div class="description">
        I love Женя Гусаковская
      </div>
    </div>
    <div class="extra content">
        <span class="right floated">
          Joined in 2013
        </span>
      <span>
          <i class="user icon"></i>
          266 Friends
        </span>
    </div>
  </div>

  <div>
    <h3 class="ui dividing header">Location</h3>
    <div id="map"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers">
    </div>
  </div>


  <div>
    <h3 class="ui dividing header" style="margin-top: 1%">Photos</h3>
    <div class="ui four column grid">
      <div class="ui column" *ngFor="let photo of photos">
        <div class="ui card">
          <div class="image">
            <img src="{{photo.photo}}">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            {{photo.likes}} likes
          </span>
            <i class="comment icon"></i>
            {{photo.comments}} comments
          </div>
        </div>
      </div>
    </div>

  </div>





</div>
