<app-header></app-header>
<div class="ui comments" style="margin: auto; overflow-y: scroll; height: 70%">
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Alexey Safronov</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Alexey Safronov</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Yauheniya Gusakovskaya</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Alexey Safronov</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
</div>


<div class="ui comments" style="margin: auto">

<form class="ui reply form">
  <div class="field">
    <textarea style="height: 7em"></textarea>
  </div>
  <div class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Send
  </div>
</form>
</div>
