<app-header></app-header>
<div class="ui comments" style="margin: auto; overflow-y: auto;">
  <div class="comment" *ngFor="let message of messages">
    <a class="avatar">
      <img src="{{message.avatar}}">
    </a>
    <div class="content">
      <a class="author">{{message.firstName}} {{message.lastName}}</a>
      <div class="metadata">
        <span class="date">{{message.createdAt}}</span>
      </div>
      <div class="text">
        {{message.message}}
      </div>
      <div class="actions">
        <a class="reply" [routerLink]="['/chat']">Reply</a>
      </div>
    </div>
  </div>
</div>
