<app-header></app-header>
<div class="ui link cards grid" #grid>
  <div class="ui card grid-card" *ngFor="let men of people">
    <div class="image">
      <img src="{{men.avatar}}">
    </div>
    <div class="content">
      <div class="header">{{men.firstName}} {{men.lastName}}</div>
      <div class="description">
        {{men.status}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{men.createdAt}}
      </span>
      <span>
        <i class="user icon"></i>
        {{men.friendsCount}}
      </span>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div *ngIf="men.connection == null" class="ui basic green button" (click)="addFriend(men)">Add Friend</div>
        <div  *ngIf="men.connection == 'WAIT'" class="ui two buttons">
          <div class="ui basic blue button">Waiting</div>
          <div class="ui basic red button" (click)="cancelFriend(men)">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>
