<div class="container login-container outer">
  <div class="middle">
    <div class="col-md-4 login-form-2 inner" style="text-align: center">
      <h3>Welcome to meeting website!</h3>
      <h3>234567 already with us.</h3>
      <h3>Join now!</h3>
      <div class="ui buttons">
        <button class="ui button" [routerLink]="['login']">Login</button>
        <div class="or"></div>
        <button class="ui positive button" [routerLink]="['registration']">Sing up</button>
      </div>
    </div>
  </div>
</div>
