<app-header></app-header>
<div class="ui container" style="margin-top: 1%">
  <div class="ui card grid-card" style="margin: auto">
    <div class="image">
      <img src="https://pp.userapi.com/c630724/v630724827/3ef15/gycKaQ24uEo.jpg">
    </div>
    <div class="content">
      <div class="header">Женя Гусаковская</div>
      <div class="description">
        I love Alexey Safronov
      </div>
    </div>
    <div class="extra content">
        <span class="right floated">
          Joined in 2013
        </span>
      <span>
          <i class="user icon"></i>
          75 Friends
        </span>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Add Friend</div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="ui dividing header">Location</h3>
    <div id="map"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers">
    </div>
  </div>


  <div>
    <h3 class="ui dividing header" style="margin-top: 1%">Photos</h3>
    <div class="ui four column grid">
      <div class="ui column">
      <div class="ui card">
        <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>
      <div class="ui column">

      <div class="ui card">
        <div class="image">
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          17 likes
        </span>
          <i class="comment icon"></i>
          3 comments
        </div>
      </div>
      </div>

      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>



      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>



      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>




      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>

      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>



      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>


      <div class="ui column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png">
          </div>
          <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
            <i class="comment icon"></i>
            3 comments
          </div>
        </div>
      </div>


    </div>

  </div>





</div>
