<app-header></app-header>
<div class="ui container four column grid" style="margin-top: 1%">

  <div class="ui column" *ngFor="let photo of photos">
    <div class="ui card">
      <div class="content">
        <div class="right floated meta">{{photo.createdAt}}</div>
        <img class="ui avatar image" src="{{photo.avatar}}"> {{photo.firstName}} {{photo.lastName}}
      </div>
      <div class="image">
        <img src="{{photo.photo}}" [routerLink]="['/photo']">
      </div>
      <div class="content">
    <span class="right floated">
    <span class="right floated">
      <i class="heart outline like icon" (click)="addLike(photo)"></i>
      {{photo.likes}} likes
    </span>
    </span>
        <i class="comment icon"></i>
        {{photo.comments}} comments
      </div>
    </div>
  </div>
</div>
